TELEGRAM_TOKEN = from BotFather
GOOGLE_DRIVE_ROOT_FOLDER_ID = from the URL of your Google Drive folder
READ_DRIVE_STATUS = Boolean
REDIS_URL = redis connection URL (e.g. redis://default:password@hostname:port)
DATABASE_URL = PostgreSQL connection URL (e.g. postgresql://username:password@hostname:port/database)
GOOGLE_SERVICE_ACCOUNT_B64 = Base64 encoded service account key JSON content (you can generate a service account key from Google Cloud Console, then encode the JSON file content to Base64 and paste it here)